h1 { 
    border: 4px dotted rgb(145, 255, 0); 
    padding: 25px; 
    font-variant: small-caps; 
    font-weight: bold; 
    font-style: bold; 
    font-family: Forte; 
    letter-spacing: 2px; 
    color: rgb(87, 206, 156); 
}

body {
    background-image: url('https://images3.alphacoders.com/584/thumb-1920-58479.jpg');background-position: center; background-attachment: fixed;
    color: rgb(0, 0, 0); 
    padding: 14px;  
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

*.Ueberschrift2 {
    padding: 20px; 
    font-weight: bold;
}

*.Ueberschrift3 {
    padding: 18px; 
    font-weight: bold;
}

#textsettings {

    font-size: 25px;
    color: aliceblue;
}

#attention {
    font-weight: bold; 
    padding: 16px; 
}

#bild {
    height: 300x; 
    width: 300px;
}

#spaceForBackground {
    height: 350px; 
    width: 1100px; 
    visibility: hidden;
}

#tableSpace {
    height: 30px; 
    width: 34px; 
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  

  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2980B9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  

  .dropdown-content a:hover {
    background-color: #ddd;
}
  

  .show {
    display:block;
}
  